{% extends "main/base.html" %}
{% load indian_numbers_tags %}
{% block content %}
<div class="container card">
    <div class="row ">
        <button id="print" class="btn-xs btn-info" onclick="printPage()">Print</button>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-3"><strong>Voucher Number</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ sale.sale_no }}</div>
        <div class="col-2"><strong>Sale Date</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.date }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Buyer Name</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.buyer_name }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Company Name</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.company_name }}</div>
    </div>


    <div class="row">
        <div class="col-12 border border-info text-center">
            <h5>Product Details</h5>
            <table class="table table-sm table-striped table-bordered">
				<tr>
					<th>Product Name</th>
					<th>Rate (৳)</th>
					<th>Weight (KG)</th>
                    <th>Total Amount (৳)</th>
				</tr>

				{% for product in products %}
					<tr>
						<td>{{ product.name }}</td>
						<td>{{ product.rate|floatcomma_indian }}</td>
						<td>{{ product.weight|floatcomma_indian }}</td>
                        <td>{{ product.amount|floatcomma_indian }}</td>
					</tr>
				{% endfor %}


			</table>
        </div>
    </div>


    <div class="row mb-3"></div>
    <div class="row mb-3">
            <div class="col-3"><strong>Transport Charge</strong></div>
            <div class="col-1"><strong>:</strong></div>
            <div class="col-3">{{ sale.transport_charge|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-3">
            <div class="col-3"><strong>Transport Charge Payee:</strong></div>
            <div class="col-1"><strong>:</strong></div>
            <div class="col-3">{{ sale.transport_charge_payee }}</div>
    </div>

<hr>
        <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Product Total </strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ product_total|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Transport Charge </strong></div>
        <div class="col-1"><strong>: ({{ sign_charge }}) </strong></div>
        <div class="col-2">{{ sale.transport_charge|floatcomma_indian }} BDT.</div>
    </div>

<hr>
    <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Voucher Total </strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2"><strong>{{ voucher_total|floatcomma_indian }} BDT.</strong></div>
    </div>

    <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Previous Due </strong></div>
        <div class="col-1"><strong>: (+) </strong></div>
        <div class="col-2">{{ sale.previous_due|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Discount </strong></div>
        <div class="col-1"><strong>: (-)</strong></div>
        <div class="col-2"><strong>{{ sale.discount|floatcomma_indian }} BDT.</strong></div>
    </div>
    <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Grand Total Amount </strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2"><strong>{{ grand_total|floatcomma_indian }} BDT.</strong></div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>In Words</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-8">{{ in_words }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Supply Description</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.description }}</div>
    </div>

    <div class="row mb-3">
        <div class="col-3"><strong>Remarks</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.remarks }}</div>
    </div>

</div>
<script>
    function printPage() {
        var printButton = document.getElementById("print");
        printButton.style.visibility = 'hidden';
        window.print()
        printButton.style.visibility = 'visible';
    }
</script>
{% endblock content %}