<!-- Modal For Mess Creation of Processing Store -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header form-title">
		  <h6 class="modal-title" id="exampleModalLabel">Select Options</h6>
		  <div class="close-btn" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true" style="color: white;">&times;</span>
		  </div>
		</div>
		<div class="modal-body">
				<div class="form-group">
				<div class="">
					<div>
						<label for="mode">Select Mode </label>
					</div>
					<div class="form-group">
						<select id="mode" name="mode" >
							<option selected value="new">New Processing</option>
							<option value="existing">Existing Processing</option>
						</select>
					</div>
				</div>
				<div id="select_processing_stock">
					<div>
						<label for="processing_stock">Select Existing Processing Stock</label>
					</div>
					<div class="form-group">
						<div id="processing_stock_container" data-url="{% url 'load-processing-stocks' %}">
						</div>
					</div>
				</div>
				</div>
				<button type="submit" class="btn btn-sm btn-info float-right">OK</button>
		</div>
	  </div>
	</div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>