{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="text-center form-title">{{tittle}}</div>
        <div class="card">
            <div>Vouchers: {{processing_stock.vouchers}}</div>
            <div>Initial Weight: {{processing_stock.weight.initial_weight}} Kg</div>
            <div>Remaining Weight: {{processing_stock.weight.remaining_weight}} Kg</div>
        </div>
        <form method="post" >
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0" >
                        {{ form.pre_stocks|as_crispy_field }}
                </div>
                <div class="col-12 border border-info rounded">
                    {{ form2set.management_form }}
                    <div id="form_set" class="form-row">
                        {% for form in form2set.forms %}
                            <div class='no_error border border-info col-md-2 rounded'>
                                <div class="text-center product" style="color: grey;">Product-{{ forloop.counter }}</div>
                                 {{ form|crispy }}
                            </div>
                        {% endfor %}
                    </div>
                    <span title="add more" id="add_more" style="float: right;" class="rounded add-more border border-info">+</span>
                    <div id="empty_form" style="display:none">
                        <div class='no_error col-md-2 border border-info'>
                            <div class="text-center product" style="color: grey;">empty</div>
                            {{ form2set.empty_form|crispy  }}
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <hr>
                </div>

                    <div class="form-group col-md-6 mb-0" >
                        {{ form.remarks|as_crispy_field }}
                    </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="float-right">
                    <div class="btn btn-sm btn-primary" >
                        <a href="{% url 'complete-processing' processing_stock.id %}">Complete Processing</a></div>
                    <button class="btn btn-sm btn-primary" type="submit">Update</button>
                    </div>
                </div>
            </div>

        </form>
    </div>


<!-- search options function-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function ()
{
    var totalForms = $('#id_{{formset_name}}-TOTAL_FORMS').val();

      for (let i = 0; i < totalForms; i++) {
                $("#id_{{formset_name}}-"+ i +"-product").select2({});
            }
    $("#id_business_name").select2({});
    $("#id_seller_name").select2({});
    $("#id_bazar_or_company_name").select2({});

   var addMore = $('#add_more')
   var productTitle = $('.product')
   var lastProductTitle = productTitle[productTitle.length-2]
   $(lastProductTitle).append(addMore)

});

</script>

<script>
    $('#add_more').click(function() {

        var form_idx = $('#id_{{formset_name}}-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_{{formset_name}}-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        var id = "#id_{{formset_name}}-" + form_idx + "-product"
        $(id).select2({});

        var productTitle = $('.product')
        var lastProductTitle = productTitle[productTitle.length-2]
        var textProduct = 'Product-'  + (productTitle.length-1)
        $(lastProductTitle).text(textProduct);
        $(lastProductTitle).append(this)

    });
</script>

<script src="/static/main/js/responsive.content.height.js"></script>

{% endblock content %}
