{% extends "main/base.html" %}
{% block content %}
<div class="row">
{% include 'main/settings_sidebar.html' %}
    <div class="col content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-b">Delete Room</legend>
                <h2>Are you sure want to delete the Room "{{ object.room_name }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a href="{% url 'product-list' %}">Cancel</a>
            </div>
        </form>
    </div></div>
{% endblock content %}
