{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h6 class="text-center">{{form_name}}</h6>
        <hr>
        <form method="post" >
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0" >
                    {{ form1.hut_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0" >
                    {{ form1.date|as_crispy_field }}
                </div>
                <div class="col-12 border border-info">
                    <input type="button" value="Add Product" id="add_more" class="m-2">
                    {{ form2set.management_form }}
                    <div id="form_set">
                        {% for form2 in form2set.forms %}
                            <div class='no_error'>
                                {{ form2.as_table }}
                            </div>
                        {% endfor %}
                    </div>
                    <div id="empty_form" style="display:none">
                        <div class='no_error'>
                            {{ form2set.empty_form.as_table }}
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <hr>
                </div>
<!--                <div class="col-12 border border-info">-->
<!--                    <input type="button" value="Add Expense" id="add_more1" class="m-2">-->
<!--                    {{ form3set.management_form }}-->
<!--                    <div id="form_set1">-->
<!--                        {% for form3 in form3set.forms %}-->
<!--                            <div class='no_error'>-->
<!--                                {{ form3.as_table }}-->
<!--                            </div>-->
<!--                        {% endfor %}-->
<!--                    </div>-->
<!--                    <div id="empty_form1" style="display:none">-->
<!--                        <div class='no_error'>-->
<!--                            {{ form3set.empty_form.as_table }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-12">
                    <hr>
                </div>
            </div>

                <button class="btn btn-outline-info" type="submit">{{button_name}}</button>
        </form>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });

    $('#add_more1').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set1').append($('#empty_form1').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{% endblock content %}
