{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <div class="row ">
        <button id="print" class="btn-xs btn-info" onclick="printPage()"><i class="fa fa-print"></i> </button>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-3"><strong>Serial Number</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ serial_no }}</div>
        <div class="col-1"></div>
        <div class="col-3"><strong>Date :  </strong>{{ hut_buy.date }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Bought By</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ hut_buy.posted_by }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Hut Name</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ hut_buy.hut_name }}</div>
    </div>


    <div class="row">
        <div class="col-12 border border-info text-center">
            <h5>Product</h5>
            <table class="table table-sm table-striped table-bordered">
				<tr>
					<th>Product Name</th>
					<th>Weight (KG)</th>
                    <th>Price (৳)</th>
				</tr>

				{% for product in products %}
					<tr>
						<td>{{ product.name }}</td>
						<td>{{ product.weight }}</td>
                        <td>{{ product.price }}</td>
					</tr>
				{% endfor %}


			</table>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12 border border-info text-center">
            <h5>Expense</h5>
            <table class="table table-sm table-striped table-bordered">
				<tr>
					<th>Expense Name</th>
                    <th>Amount(৳)</th>
				</tr>

				{% for expense in expenses %}
					<tr>
						<td>{{ expense.name }}</td>
						<td>{{ expense.amount }}</td>
					</tr>
				{% endfor %}


			</table>
        </div>
    </div>


    <div class="row mb-3"></div>

<hr>
        <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Product Total </strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ product_total }} BDT.</div>
    </div>
    <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Expense Total </strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ expense_total }} BDT.</div>
    </div>

<hr>
    <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Total Costing</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2"><strong>{{ total_costing }} BDT.</strong></div>
    </div>

    <div class="row mb-3">
        <div class="col-3"><strong>Total Weight</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ total_weight }} KG</div>
    </div>

    <div class="row mb-3">
        <div class="col-3"><strong>Rate Without Cost</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ rate_without_cost }} BDT./KG</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Rate With Cost</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ rate_with_cost }} BDT./KG</div>
    </div>

</div>
<script>
    function printPage() {
        var printButton = document.getElementById("print");
        printButton.style.visibility = 'hidden';
        window.print()
        printButton.style.visibility = 'visible';
    }
</script>
{% endblock content %}