{% extends "main/base.html" %}
{% block content %}
    <div class="container">
        <form method="GET" >
			<div class="form-row">
                <div class="form-group col-md-4">
                <div class="input-group">
                <input id="name_contains" class="form-control py-2 border-right-0 border" name="name_contains" type="search" placeholder="Type Name">
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </span>
                </div>
            </div>
                <div class="form-group col-md-4">
                <div class="input-group">
                <input id="phone_contains" class="form-control py-2 border-right-0 border" name="phone_contains" type="search" placeholder="Type Phone No">
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </span>
                </div>
            </div>

             <div class="form-group col-md-4">
                  <select id="voucher_no" class="form-control" name="voucher_no">
                    <option selected>Select Voucher No</option>
					  {% for voucher in vouchers %}
                    <option>{{ voucher.voucher_number }}</option>
					  {% endfor %}
                  </select>
                </div>
				</div>

            <button type="submit" class="btn btn-sm btn-info">Search</button>
        </form>
    </div>

<div class=" card card-body">
			<table class="table table-sm table-striped">
				<tr>
					<th>Collection Number</th>
					<th>Voucher Number</th>
					<th>Collected By</th>
					<th>Collected Amount</th>
					<th>Collection Date</th>
					<th>Remarks</th>
					<th>Detail</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>

				{% for collection in collections %}
					<tr>
						<td>{{ collection.collection_no }}</td>
						<td>{{ collection.sale_voucher_no }}</td>
						<td>{{ collection.collected_by }}</td>
						<td>{{ collection.collection_amount }} TK</td>
						<td>{{ collection.collection_date }}</td>
						<td>{{ collection.remarks }} </td>
						<td><a class="btn btn-sm btn-info" href="{% url 'collection-detail' collection.id%}">Detail</a></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'collection-update-sale' collection.id%}">Edit</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'collection-delete' collection.id%}">Cancel</a></td>

					</tr>
				{% endfor %}


			</table>
	 		<div class="container">
                <div class="float-right">
                    <div>Total Receivable:{{voucher_total_price}} BDT. </div>
                    <div>Total Collected:{{total_collected}} BDT. </div>
                    <div>Remaining Amount:{{remaining_amount}} BDT. </div>
                </div>
            </div>
		</div>
{% endblock content %}
