{% extends 'main/base.html' %}
{% load static %}
{% load techAlong_extras %}
{% block content %}


	<form method="GET" id="searchForm">
		<div class="form-row">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#exampleModal">
			  			|||
					</button>
					<a href="{% url 'collection-list' %}" class="btn btn-sm btn-info"> &#x21BB;</a>
					<span id="showSearch" class="btn btn-sm btn-info">></span>
					<span id="showSearch1" class="btn btn-sm btn-info"><</span>
					

				<!--search form-->
                <div class="form-group col-md-3">
					<select id="name" class="form-control" name="name" onchange="this.form.submit()">
						<option selected>{{ name_selected }}</option>
						  {% for name in names %}
						<option>{{ name }}</option>
						  {% endfor %}
					  </select>
            	</div>
                <div class="form-group col-md-2">
                    <select id="company_name" class="form-control" name="company_name" onchange="this.form.submit()">
                    <option selected >{{ company_selected }}</option>
					  {% for company in companies %}
                    <option>{{ company }}</option>
					  {% endfor %}
                  </select>
            	</div>
                <div class="form-group col-md-2">
                  <select id="voucher_no" class="form-control" name="voucher_no" onchange="this.form.submit()">
                    <option selected>{{ voucher_selected }}</option>
					  {% for voucher in sale_voucher_selection %}
                    <option>{{ voucher.voucher_no }}</option>
					  {% endfor %}
                  </select>
                </div>
				<div class="col-md-2">
					<button type="submit" class="btn btn-sm btn-info">Search</button>
				</div>
			</div>
        </form>
<!--	<form id="menuButtons">-->
<!--	<div class="form-row">-->
<!--	<div class="ml-1">-->
<!--	<button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#exampleModal">-->
<!--			  Menu-->
<!--	</button>-->

<!--	<a href="{% url 'collection-list' %}" class="btn btn-sm btn-info"> &#x21BB;</a>-->
<!--	<span id="showSearch" class="btn btn-sm btn-info"> > </span>-->
<!--	</div>-->
<!--	</div>-->
<!--	</form>-->
	<div class=" card card-body">
		<div class="text-center form-title">{{tittle}}</div>
		<div class="responsive-table">
			<table class="table table-sm table-striped table-bordered">
				<tr>
					<th>Collection No.</th>
					<th>Voucher No.</th>
					<th>Name</th>
					<th>Amount</th>
					<th>Date</th>
					<th>Status</th>
					<th>Remarks</th>
					<th>&#128195;</th>
					<th><i class="fa fa-edit"></i></th>
	  {% if admin %}<th><i class="fa fa-trash"></i></th>{% endif %}

				</tr>

				{% for collection in collections %}
					<tr>
						<td>{{ collection.collection_no }}</td>
						{% if collection.sale_voucher_no %}
							<td>{{ collection.sale_voucher_no }}</td>
							<td>{{ collection.sale_voucher_no.challan_no.company_name }}</td>
						{% else %}
							<td>{{ collection.local_sale_voucher_no }}</td>
							<td>{{ collection.local_sale_voucher_no.buyer_name }}</td>
						{% endif %}

						<td>{{ collection.collection_amount }} TK</td>
						<td>{{ collection.collection_date }}</td>
						<td>{% if collection.collection_status %}
							Success
							{% else %}
							Pending
							{%endif%}
						</td>
						<td>{{ collection.remarks }} </td>
						<td><a href="{% url 'collection-detail' collection.id%}">&#128195;</a></td>
						{% if collection.collection_status %}
							{% if admin %}
									<!-- Button trigger modal -->
									<td><a class="btn btn-sm btn-info" data-toggle="modal" data-target="#dialog-edit" href="{% url 'collection-update-sale' collection.id%}">E</a></td>
									<!-- Modal -->
									<div class="modal fade" id="dialog-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header">
											<h6 class="modal-title" id="exampleModalLabel1">Confirmation (Are your sure?)</h6>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											  <span aria-hidden="true">&times;</span>
											</button>
										  </div>
										  <div class="modal-body">
											  <p>Are You Sure Want to Edit This Collection After Success?</p>
												{% if collection.sale_voucher_no %}
													<a class="btn btn-sm btn-danger" href="{% url 'collection-update-sale' collection.id%}">YES</a>
												{% else %}
													<a class="btn btn-sm btn-danger" href="{% url 'collection-update-local-sale' collection.id%}">YES</a>
												{%endif%}
											<button  type="button" class="btn btn-sm btn-info" data-dismiss="modal" aria-label="Close">NO</button>
										  </div>
										</div>
									  </div>
									</div>
								<td><a class="btn btn-sm btn-secondary" onclick="alertDelete()" href="#"><i class="fa fa-trash"></i></a></td>
							{% else %}
								<td><a class="btn btn-sm btn-secondary" onclick="alertEdit()" href="#"><i class="fa fa-edit"></i></a></td>
						    {%endif%}
						{% else %}
							{% if collection.sale_voucher_no %}
								<td><a href="{% url 'collection-update-sale' collection.id%}"><i class="fa fa-edit"></i></a></td>
							{% else %}
								<td><a  href="{% url 'collection-update-local-sale' collection.id%}"><i class="fa fa-edit"></i></a></td>
							{%endif%}
							{% if admin %}
								<td><a href="{% url 'collection-delete' collection.id%}"><i class="fa fa-trash"></i></a></td>
							{%endif%}
						{%endif%}
					</tr>
				{% endfor %}


			</table>
		</div>
			<span>{% include 'main/pagination.html' %}</span>
		</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'collections/script.js' %}"></script>
{% endblock content %}