{% extends "main/base.html" %}
{% block content %}
    <div class="container">
        <form method="GET" >
            <div class="form-row">
             <div class="form-group col-md-4">
                  <label for="voucher_no">Sale Voucher No</label>
                  <select id="voucher_no" class="form-control" name="voucher_no">
                    <option selected>Choose...</option>
					  {% for voucher in vouchers %}
                    <option>{{ voucher.voucher_number }}</option>
					  {% endfor %}
                  </select>
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-info">Report</button>
        </form>
    </div>

<div class=" card card-body">
			<div class="mb-3">Report for Sale Voucher: {{ sale_voucher }}</div>
			<table class="table table-sm table-striped">
				<tr>
					<th>Collection Number</th>
					<th>Collected By</th>
					<th>Collected Amount</th>
					<th>Payed Date</th>
					<th>Remarks</th>
				</tr>

				{% for collection in page_obj %}
					<tr>
						<td>{{ collection.collection_no }}</td>
						<td>{{ collection.collected_by }}</td>
						<td>{{ collection.collection_amount }} TK</td>
						<td>{{ collection.collection_date }}</td>
						<td>{{ collection.remarks }} </td>
					</tr>
				{% endfor %}
			</table>

	<div>Total Receivable     : {{total_receivable}} Tk.</div>
	<div>Total Collected      : {{total_collected.collection_amount__sum}} Tk.</div>
	<div>Total Collection Due : {{collection_due}} Tk.</div>

</div>


{% endblock content %}
