asgiref
certifi
charset-normalizer
dj-database-url
Django
django-cleanup
django-crispy-forms
django-currentuser
django-heroku
django-indian-numbers @ git+https://github.com/narenchoudhary/django-indian-numbers@582ae5dd90fd27fab93db730caab7009c36182e4
gunicorn
heroku
idna
Pillow
psycopg2
python-dateutil
pytz
requests
sqlparse
tzdata
urllib3
whitenoise
