{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container p-0">
        <h6 class="text-center text-white bg-steel">{{form_name}}</h6>
        <form method="post" >
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4 mb-0" >
                    {{ form1.lc_number|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                    {{ form1.bank_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                    {{ form1.opening_date|as_crispy_field }}
                </div>
                <div class="col-12 border border-info">
                    <input type="button" value="Add Product" id="add_more" class="m-2">
                    {{ form2set.management_form }}
                    <div id="form_set">
                        {% for form2 in form2set.forms %}
                            <div class='no_error'>
<!--                                {{ form2 }}-->
                               <div class="form-row">
                                    <div class="form-group col-md-3">
                                        {{ form2.name|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-2">
                                        {{ form2.bags|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{ form2.weight|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{ form2.rate|as_crispy_field }}
                                    </div>
                                    {% if button_name == 'Update' %}
                                     <div class="form-group col-md-1">
                                        {{ form2.DELETE|as_crispy_field }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="empty_form" style="display:none">
                        <div class='no_error'>
                           <!-- <div class="form-row">
                                    <div class="form-group col-md-3">
                                        {{ form2set.empty_form.name|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-2">
                                        {{ form2set.empty_form.bags|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{ form2set.empty_form.weight|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        {{ form2set.empty_form.rate|as_crispy_field }}
                                    </div>
                                {% if button_name == 'Update' %}
                                <div class="form-group col-md-1">
                                        {{ form2set.empty_form.DELETE|as_crispy_field }}
                                </div>
                                {% endif %}
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12 border border-info">
                    <input type="button" value="Add Expense" id="add_more1" class="m-2">
                    {{ form3set.management_form }}
                    <div id="form_set1">
                        {% for form3 in form3set.forms %}
                            <div class='no_error'>
                               <!-- <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ form3.name|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-5">
                                        {{ form3.amount|as_crispy_field }}
                                    </div>
                                    {% if button_name == 'Update' %}
                                        <div class="form-group col-md-1">
                                            {{ form3.DELETE|as_crispy_field }}
                                        </div>
                                    {% endif %}
                                </div> -->
                            </div>
                        {% endfor %}
                    </div>
                    <div id="empty_form1" style="display:none">
                        <div class='no_error'>
                            <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ form3set.empty_form.name|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-5">
                                        {{ form3set.empty_form.amount|as_crispy_field }}
                                    </div>
                                {% if button_name == 'Update' %}
                                    <div class="form-group col-md-5">
                                        {{ form3set.empty_form.DELETE|as_crispy_field }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>

                <button class="btn btn-outline-info" type="submit">{{button_name}}</button>
        </form>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_product-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_product-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        var id = "#id_product-" + form_idx + "-name"
        console.log(id);
        // $(id).select2({});
    });

    $('#add_more1').click(function() {
        var form_idx = $('#id_expense-TOTAL_FORMS').val();
        $('#form_set1').append($('#empty_form1').html().replace(/__prefix__/g, form_idx));
        $('#id_expense-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        var id = "#id_expense-" + form_idx + "-name"
        console.log(id);
    });
</script>
{% endblock content %}
