{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
{% include 'main/settings_sidebar.html' %}
    <div class="col card">
        <h5 class="text-center">Person</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                {{ form|crispy }}
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div> </div>
{% endblock content %}
