

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   margin:auto;
   width: 100%;
   height: auto;
   background-color: #005266;
   color: white;
   text-align: center;

}
.centered{
padding: 5px 0;
}

#tableta {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableta td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tableta tr:nth-child(even){background-color: #f2f2f2;}

#tableta tr:hover {background-color: #ddd;}

#tableta th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

body {
 overflow: hidden;
  margin-top: 5rem;
  background-color: #002933;
}
.bg-ta {
  background-image: url("/media/backgrounds/home_bg1.png");
  background-position: center;
  background-size: cover;
}

.bg-top {
    background-color: #E6E6FA;
    padding: 5px;
}

.rectangle {
      text-align: center;
      border-radius: 12px;
      background: #005266;
      width: 200px;
      height: 150px;
      padding: 55px;
    }
.home-box{
      text-align: center;
      border-radius: 12px;
      background: grey;
      width: 200px;
      height: 185px;
    }

h1, h2, h3, h4, h5, h6 {
  color: #00000;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #005266;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}