{% extends 'main/base_challan.html' %}
{% load indian_numbers_tags %}
{% block content %}
<div class="">

<div style="text-align: center;">
    <div style="font-size: 16pt; text-decoration: underline;"><b>চালান নংঃ </b><b class="bangla-number">{{challan_serial}}</b></div>
</div>

<div style="font-size: 16pt;">
<p>বরাবর,</p>
<p>{{object.company_name.name_of_company}}</p>
<p>{{object.company_name.company_address}}</p>
</div>
<div style="height: 50px;"></div>

<table class="" width="100%">

        <tr style="background-color: #dcc5c5;">
             <th>পণ্যের বিবরন</th>
             <th>ব্যাগ সংখ্যা</th>
             <th>প্রতি ব্যাগে পণ্যের ওজন (কেজি)</th>
             <th>মোট পরিমাণ (কেজি)</th>
        </tr>
        <tr style="height: 125px;">
            <td>{{ object.product_name }}</td>
            <td class="bangla-number">{{ object.number_of_bag|floatcomma_indian }}</td>
            <td class="bangla-number">{{ object.weight_of_each_bag|floatcomma_indian }}</td>
            <td class="bangla-number">{{ object.total_weight|floatcomma_indian }}</td>
         </tr>
</table>
<div style="height:50px;"></div>
<table class="no-border left" >
        <tr>
             <td>ট্রাক নং</td><td>:</td><td >{{object.vehicle_plate_number}}</td>
        </tr>
        <tr>
             <td>ড্রাইভারের নাম</td><td>:</td><td>{{driver_name}}</td>
        </tr>
        <tr>
             <td>মোবাইল নং</td><td>:</td><td class="bangla-number">{{object.driver_phone_no}}</td>
        </tr>
</table>

<div style="height: 100px;"></div>
<table width="100%" class="no-border">
    <tr>
        <td></td>
        <td width="200">
            <div>নিবেদক</div>
            <div class="" style="height: 118px;"></div>
            <div>{{object.business_name.proprietor}}</div>
        </td>

    </tr>
</table>
</div>
{% endblock content %}
