{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h5 class="text-center">Update Challan</h5>
        <hr>
        <form method="post" >
            {% csrf_token %}
            <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ form.challan_no|as_crispy_field }}
            </div>
                <div class="col-md-5 mb-0" >
                    <div class="row">
                        <div class="form-group col-10 pr-0" >{{ form.buyer_name|as_crispy_field }}</div>
                        <div class="col-2 mt-3 pt-3 pl-1"><a class="btn btn-sm btn-info" href="{% url 'add-person-challan' %}">Add</a></div>
                    </div>
                </div>

                <div class="col-md-5 mb-0" >
                    <div class="row">
                        <div class="form-group col-10 pr-0" >{{ form.company_name|as_crispy_field }}</div>
                        <div class="col-2 mt-3 pt-3 pl-1"><a class="btn btn-sm btn-info" href="{% url 'add-company-challan' %}">Add</a></div>
                    </div>
                </div>
                <div class="form-group col-md-4 mb-0">
                {{ form.product_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                {{ form.weight|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                {{ form.number_of_bag|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                {{ form.number_of_vehicle|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                {{ form.vehicle_plate_number|as_crispy_field }}
                </div>
                <div class="form-group col-md-5 mb-0">
                {{ form.name_of_driver|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                {{ form.challan_date|as_crispy_field }}
                </div>
                <div class="form-group col-md-10 mb-0">
                {{ form.remarks|as_crispy_field }}
                </div>

            </div>
                <button class="btn btn-outline-info" type="submit">Update</button>
        </form>
    </div>
{% endblock content %}
