{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="">
        <div class="text-center form-title">{{form_name}}</div>
        <form method="post" id="challanForm">
            {% csrf_token %}
            <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form.business_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.sub_dealer|as_crispy_field }}
            </div>
            <div class="col-md-4"></div>
            <div class="form-group col-md-2 mb-0">
                {{ form.challan_serial|as_crispy_field }}
            </div>

            <div class="form-group col-md-2 mb-0">
                {{ form.reference|as_crispy_field }}
            </div>
                <div  style="float:left" class="col-md-3 mb-0">
                    {{ form.company_name|as_crispy_field }}
                    <span style="float:left"><a class="btn btn-sm btn-info" href="{% url 'add-company-challan' %}">+</a></span>
                </div>
                <div class="form-group col-md-3 mb-0">
                {{ form.product_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                {{ form.number_of_bag|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                {{ form.weight_of_each_bag|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                {{ form.weight_adjusted|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                {{ form.number_of_vehicle|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                {{ form.challan_date|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                {{ form.vehicle_plate_number|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                {{ form.name_of_driver|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                {{ form.driver_phone_no|as_crispy_field }}
                </div>
                <div class="form-group col-md-12 mb-0">
                {{ form.remarks|as_crispy_field }}
                </div>

            </div>
                <button class="btn btn-outline-info" type="submit">{{button_name}}</button>
        </form>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function ()
{
    $("select").select2({});
});
</script>
{% endblock content %}
