{% extends 'main/base.html' %}
{% load indian_numbers_tags %}

{% load static %}
{% block content %}
        <form method="POST" id="searchForm">
			{% csrf_token %}
				<div class="row mb-2">
				<div class="col-md-12">
					<div class="d-flex justify-content-end float-left">
						<input id="date" value="{{date1}}" name="date" hidden="hidden">
					<button type="submit" class ="btn-info btn-sm" name="Previous Day" >Previous Day</button>
					<button type="submit" class ="btn-info btn-sm" name="Today" >Today</button>
					<button type="submit" class ="btn-info btn-sm" name="Next Day" >Next Day</button>
					<button type="submit" class ="btn-info btn-sm" name="ALL" >ALL</button>
					<a href="/ledger"><button type="button" class ="btn-info btn-sm">&#x21BB;</button></a>
<!--					<button type="button" id="showSearch" class="btn-info btn-sm"><i class="fas fa-search"></i> </button>-->
<!--					<span id="showSearch1" class="btn btn-sm btn-info"><</span>-->
					</div>
				</div>
				</div>
			<div class="form-row" id="formFields-x">
                <div class="form-group  col-md-2">
                  <select onchange="this.form.submit()" id="name" class="form-control" name="name">
                    <option selected>{{ selected_name }}</option>
					  {% for person in persons %}
                    <option>{{person}}</option>
					  {% endfor %}
                  </select>
                </div>
				<div class="form-group  col-md-2">
                  <select onchange="this.form.submit()" id="business" class="form-control" name="business">
                    <option selected>{{ selected_business }}</option>
					  {% for business in business_names %}
                    <option>{{business.name}}</option>
					  {% endfor %}
                  </select>
                </div>
				<div class="form-group  col-md-2">
                  <select onchange="this.form.submit()" id="company" class="form-control" name="company">
                    <option selected>{{ selected_company }}</option>
					  {% for company in companies %}
                    <option>{{company}}</option>
					  {% endfor %}
                  </select>
                </div>
                <div class="form-group col-md-2">
                <div class="input-group">
                <input id="date_from" class="form-control form-control-sm py-2 border-right-0 border" name="date_from" type="search" placeholder="From: dd-mm-yyyy">
                </div>
            	</div>
				<div class="form-group col-md-2">
                <div class="input-group">
                <input id="date_to" class="form-control form-control-sm py-2 border-right-0 border" name="date_to" type="search" placeholder="To: dd-mm-yyyy">
                </div>
            	</div>

				<div class="form-group col-md-1">
 					<button type="submit" class="btn-sm btn-info"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>

<div class="container">
</div>
	<div class="card card-body">
			<div class="text-center form-title">Ledger (খতিয়ান)</div>
			<div  class="text-center">
				Ledger For: {{ ledger_for }}<br>
				Date: {{date_criteria}}
			</div>

		<div class="responsive-table">
			<table class="table table-sm table-striped table-bordered">
				<tr>
					<th>Date</th>
					{% if all_ledger %}
					<th>Name</th>
					{% endif %}
					<th>Descriptions</th>
					<th>Debit</th>
					<th>Credit</th>
					<th>Balance</th>
				</tr>

				{% for item in ledgers %}
					<tr>
						<td style="white-space: nowrap;">{{ item.date }}</td>
						{% if all_ledger %}
						<td>{{item.name}}</td>
						{% endif %}
						<td>
							<a id="{{item.voucher_no}}" onclick="newWindow(this.id)"
                               name="{{ item.url1 }}">{{ item.voucher_no }}</a>
                            <a id="{{item.descriptions}}" onclick="newWindow(this.id)"
                               name="{{ item.url2 }}">{{ item.descriptions }}</a>
                        </td>
						<td>{{ item.debit_amount }}</td>
						<td>{{ item.credit_amount }}</td>
						<td>{{ item.balance }}</td>
					</tr>
				{% endfor %}
				<tr class="table-footer">
					{% if all_ledger %}
						<td colspan="3" align="right">Total</td>
					{% else %}
						<td colspan="2" align="right">Total</td>
					{% endif %}
					<td>{{ total_debit }}</td>
					<td>{{ total_credit }}</td>
					<td>{{ balance }}</td>
				</tr>

			</table>
		</div>
		</div>
<script>
function advanceSearch() {
  var x = document.getElementById("advanced_search");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
<script type="text/javascript">
    function newWindow(id) {
    var a = document.getElementById(id);
    window.open(a.name, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
}
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'main/js/script.js' %}"></script>
{% endblock content %}