{% extends 'main/base.html' %}

{% block content %}

    <div class="container mt-5">
        <h5 class="text-center">LEDGER(খতিয়ান)</h5>
        <form method="GET" >
            <div class="form-row">
                <div class="form-group col-md-4">
                <div class="input-group">
                <input id="name_contains" class="form-control py-2 border-right-0 border" name="name_contains" type="search" placeholder="Type Name..">
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </span>
                </div>
            </div>

                <div class="form-group col-md-4">
                <div class="input-group">
                <input id="date_from" class="form-control py-2 border-right-0 border" name="date_from" type="search" placeholder="From: YYYY-MM-DD">
                </div>
            	</div>
				<div class="form-group col-md-4">
                <div class="input-group">
                <input id="date_to" class="form-control py-2 border-right-0 border" name="date_to" type="search" placeholder="To: YYYY-MM-DD">
                </div>
            	</div>
            </div>

            <div class="row" id="advanced_search" style="display:none;">
            <div class="form-row container" >
				<div class="form-group col-md-4">
                  <label for="company_name">Company Name</label>
                  <select id="company_name" class="form-control" name="company_name">
                    <option selected>Select...</option>
					  {% for company in companies %}
                    <option>{{ company.name_of_company }}</option>
					  {% endfor %}
                  </select>
                </div>
             <div class="form-group col-md-4">
                  <label for="sale_voucher_no">Sale Voucher No</label>
                  <select id="sale_voucher_no" class="form-control" name="sale_voucher_no">
                    <option selected>Choose...</option>
					  {% for voucher in vouchers %}
                    <option>{{ voucher.voucher_number }}</option>
					  {% endfor %}
                  </select>
                </div>
				<div class="form-group col-md-4">
                  <label for="buy_voucher_no">Buy Voucher No</label>
                  <select id="buy_voucher_no" class="form-control" name="buy_voucher_no">
                    <option selected>Choose...</option>
					  {% for voucher in vouchers %}
                    <option>{{ voucher.voucher_number }}</option>
					  {% endfor %}
                  </select>
                </div>
            </div>
</div>


            <button type="submit" class="btn btn-sm btn-info">Search</button>
            <div onclick="advanceSearch()" class="btn btn-sm btn-info">Advance Search</div>
        </form>

    </div>

<div class="container">
</div>
	<div class=" card card-body">
			<a class="btn btn-secondary  btn-sm btn-block bg-steel" href="#">Ledger</a>
			<table class="table table-sm table-striped table-bordered">
				<tr>
					<th>Date</th>
                    <th>Name</th>
					<th>Descriptions</th>
					<th>Debit</th>
					<th>Credit</th>
					<th>Balance</th>
				</tr>

				{% for item in ledgers %}
					<tr>
						<td>{{ item.date }}</td>
                        <td>{{ item.name }}</td>
						<td><a href="{{ item.url1 }}">{{ item.voucher_no }}</a> For: {{ item.descriptions }}</td>
						<td>{{ item.debit_amount }}</td>
						<td>{{ item.credit_amount }}</td>
						<td>n/a</td>
					</tr>
				{% endfor %}


			</table>
		</div>
<script>
function advanceSearch() {
  var x = document.getElementById("advanced_search");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function newWindow() {
  var myWindow = window.open("", "", "width=200,height=100");
}

</script>


{% endblock content %}