{% extends 'main/base.html' %}
{% load indian_numbers_tags %}
{% block content %}

<div class="container">
		<div class="container">
</div>
        <form method="POST" >
			{% csrf_token %}
			<div class="form-row">
                <div class="form-group  col-md-4">
                  <select onchange="this.form.submit()" id="name" class="form-control" name="name">
                    <option selected>{{ selected_name }}</option>
					  {% for person in persons %}
                    <option>{{person}}</option>
					  {% endfor %}
                  </select>
                </div>
                <div class="form-group col-md-2">
                <div class="input-group">
                <input id="date_from" class="form-control form-control-sm py-2 border-right-0 border" name="date_from" type="search" placeholder="From: dd-mm-yyyy">
                </div>
            	</div>
				<div class="form-group col-md-2">
                <div class="input-group">
                <input id="date_to" class="form-control form-control-sm py-2 border-right-0 border" name="date_to" type="search" placeholder="To: dd-mm-yyyy">
                </div>
            	</div>



				<div class="form-group col-md-1">
 					<button type="submit" class="btn btn-sm btn-info">Search</button>
                </div>
				<div class="form-group col-md-1">
 					<div class="d-flex justify-content-end"><a href="">Refresh</a></div>
                </div>




	<div class="row mb-2">
		<div class="col-md-12">
			<div class="d-flex justify-content-end">
				<input id="date" value="{{date1}}" name="date" type="hidden">
			<button type="submit" class ="btn-info btn-sm" name="Previous Day" >Previous Day</button>
			<button type="submit" class ="btn-info btn-sm" name="Today" >Today</button>
			<button type="submit" class ="btn-info btn-sm" name="Next Day" >Next Day</button>
			<button type="submit" class ="btn-info btn-sm" name="ALL" >ALL</button>
			</div>
		</div>
	</div>


            </div>
        </form>

    </div>

<div class="container">
</div>
	<div class="card card-body">
			<div class="d-flex justify-content-center bg-steel text-white p-1"><h6>Ledger (খতিয়ান)</h6></div>
			<div  class="d-flex justify-content-center p-1"><h6>Name: {{ selected_name }}</h6></div>
			<div class="d-flex justify-content-center">Date: {{date_criteria}}</div>
		<hr>
			<table class="table table-sm table-striped table-bordered">
				<tr>
					<th>Date</th>
					{% if all_ledger %}
					<th>Name</th>
					{% endif %}
					<th>Descriptions</th>
					<th>Debit</th>
					<th>Credit</th>
					<th>Balance</th>
				</tr>

				{% for item in ledgers %}
					<tr>
						<td>{{ item.date }}</td>
						{% if all_ledger %}
						<td>{{item.name}}</td>
						{% endif %}
						<td><a id="{{item.voucher_no}}" onclick="newWindow(this.id)"
                               name="{{ item.url1 }}">{{ item.voucher_no }}</a>
                               For:
                            <a id="{{item.descriptions}}" onclick="newWindow(this.id)"
                               name="{{ item.url2 }}">{{ item.descriptions }}</a>
                        </td>
						<td>{{ item.debit_amount }}</td>
						<td>{{ item.credit_amount }}</td>
						<td>{{ item.balance }}</td>
					</tr>
				{% endfor %}


			</table>
		</div>
<script>
function advanceSearch() {
  var x = document.getElementById("advanced_search");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
<script type="text/javascript">
    function newWindow(id) {
    var a = document.getElementById(id);
    window.open(a.name, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
}
</script>
<!-- for search options function-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function ()
{
    $("select").select2({});
});
</script>
{% endblock content %}