{% extends "main/base.html" %}
{% block content %}
    <div class="container">
        <div class="col-6">
            <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-b">{{ form_name }}</legend>
                            <h5>Are you sure want to Delete the Account "{{ object.account_name }} ?"</h5>
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                            {% if form_name == 'Delete Bank Account' %}
                                <a href="{% url 'bank-account-list' %}">No</a>
                            {% else %}
                                <a href="{% url 'other-account-list' %}">No</a>
                            {% endif %}
                        </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock content %}
