{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h5 class="text-center">{{form_name}}</h5>
        <div id="person_image"></div>
        <hr>
        <form method="post"
              id="paymentForm"
              data-vouchers-url="{% url 'load-buy-vouchers' %}"
              data-image-url="{% url 'load-person-image' %}" novalidate>

            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-2 mb-0" >
                   {{ form.payment_no|as_crispy_field }}
                </div>
                <div class="col-md-4 mb-0" >
                    <div class="row">
                        <div class="form-group col-10 pr-0" >{{ form.payment_for_person|as_crispy_field }}</div>
                        <div class="col-2 mt-3 pt-3 pl-1"><a class="btn btn-sm btn-info" href="{% url 'add-person-payment' %}">Add</a></div>
                    </div>
                </div>
                <div class="form-group col-md-2 mb-0" >
                   {{ form.voucher_no|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0" >
                   {{ form.payment_date|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0" >
                   {{ form.payment_mode|as_crispy_field }}
                </div>

                  <div id="demo" style="display:none; border: 1px solid gray; margin-bottom: 15px;" class="container">
                      <div class="row">
                        <div class="form-group col-md-3 mb-0" >
                            {{ form.cheque_PO_ONL_no|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0" >
                            {{ form.cheque_date|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0" >
                            {{ form.bank_name|as_crispy_field }}
                        </div>
                      </div>
                  </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.payment_amount|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.payed_to|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.payment_from_account|as_crispy_field }}
                </div>
                <div class="form-group col-md-12 mb-0" >
                   {{ form.remarks|as_crispy_field }}
                </div>
            </div>
                <button class="btn btn-outline-info" type="submit">{{button_name}}</button>
        </form>
    </div>


<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!-- for payment mode options -->
<script>
function showChequeDetails() {
  var x = document.getElementById("id_payment_mode").value;
  if (x == "CQ" || x == "ONL" || x == "PO") {
    document.getElementById("demo").style.display = "block";
  }
  else{document.getElementById("demo").style.display = "none";}

}
</script>

<!-- for voucher option load by seller name and search options function-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function ()
{
   var $select1 = $('#select1'),
       $select2 = $('#select2'),
       $options = $select2.find('option');
       $select1.on('change',function()
       {
            var url1 = $("#paymentForm").attr("data-vouchers-url");
            var url2 = $("#paymentForm").attr("data-image-url");
            var nameId = $(this).val();
            $.ajax({
                        url: url1,
                        data: {
                          'name': nameId
                        },
                        success: function (data) {
                          $("#select2").html(data);
                          $("#person_image").html(data);
                        }
                  });

             $.ajax({
                        url: url2,
                        data: {
                          'name': nameId
                        },
                        success: function (data) {
                          $("#person_image").html(data);
                        }
                  });
       }).trigger('change');
});
</script>
<script>
    $(document).ready(function ()
{
    $("#select1").select2({});
    $("#select2").select2({});
    $("#id_payment_from_account").select2({});
});
</script>
{% endblock content %}
