{% extends "main/base.html" %}
{% block content %}
    <div class="container">
        <form method="GET" >
            <div class="form-row">
             <div class="form-group col-md-4">
                  <label for="voucher_no">Buy Voucher No</label>
                  <select id="voucher_no" class="form-control" name="voucher_no">
                    <option selected>Choose...</option>
					  {% for voucher in vouchers %}
                    <option>{{ voucher.voucher_number }}</option>
					  {% endfor %}
                  </select>
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-info">Report</button>
        </form>
    </div>

<div class=" card card-body">
			<div class="mb-3">Report for Buy Voucher: {{ buy_voucher }}</div>
	<hr>
			<table class="table table-sm table-striped">
				<tr>
					<th>Payment Number</th>
					<th>Payed By</th>
					<th>payed Amount</th>
					<th>Payment Date</th>
					<th>Remarks</th>
				</tr>

				{% for collection in page_obj %}
					<tr>
						<td>{{ collection.payment_no }}</td>
						<td>{{ collection.payed_by }}</td>
						<td>{{ collection.payment_amount }} TK</td>
						<td>{{ collection.payment_date }}</td>
						<td>{{ collection.remarks }} </td>
					</tr>
				{% endfor %}
			</table>
<hr>
	<div class="container ">
	<div class="float-right">
		<div>Total Payable     : {{total_payable}} Tk.</div>
		<div>Total Payed      : {{total_payed}} Tk.</div>
		<div>Total Payment Due : {{payment_due}} Tk.</div>
	</div>
	</div>
</div>


{% endblock content %}
