<nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img style="height:30px; max-width: 100%;" src="/media/imgs/TAB LOGO.png" alt="TechAlongERP"> | <img style="height:30px; max-width: 100%;" src="/media/imgs/logo2.png" alt="TechAlongERP">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          VOUCHER
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'buy-list' %}">BUY</a>
          <a class="dropdown-item" href="{% url 'sale-list' %}">SALE</a>
          <a class="dropdown-item" href="{% url 'local-sale-list' %}">LOCAL SALE</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          STOCK
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'challan-list' %}">CHALLAN</a>
          <a class="dropdown-item" href="{% url 'stock-list' %}">STOCK</a>
          <a class="dropdown-item" href="{% url 'order-list' %}">ORDER</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FINANCE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'collection-list' %}">COLLECTION</a>
          <a class="dropdown-item" href="{% url 'payment-list' %}">PAYMENT</a>
          <a class="dropdown-item" href="{% url 'general-voucher-list' %}">GENERAL EXPENSE</a>
          <a class="dropdown-item" href="{% url 'accounts' %}">ACCOUNT</a>
          <a class="dropdown-item" href="{% url 'investment-list' %}">INVESTMENT</a>
          <a class="dropdown-item" href="{% url 'ledger' %}">LEDGER</a>
          <a class="dropdown-item" href="{% url 'account-ledger' %}">ACCOUNTS LEDGER</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          BKash
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'agent-list' %}">AGENTS</a>
          <a class="dropdown-item" href="{% url 'transaction-list' %}">TRANSACTION</a>
          <a class="dropdown-item" href="{% url 'agent-payment-list' %}">AGENT PAYMENT</a>
          <a class="dropdown-item" href="{% url 'bkash-report' %}">REPORT</a>
          <a class="dropdown-item" href="{% url 'agent-payment-ledger' %}">BKASH LEDGER</a>
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PAYROLL
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'employee-list' %}">EMPLOYEE</a>
          <a class="dropdown-item" href="{% url 'attendance-list' %}">ATTENDANCE</a>
          <a class="dropdown-item" href="{% url 'timetable-list' %}">TIMETABLE</a>
          <a class="dropdown-item" href="{% url 'salary-payment-list' %}">SALARY PAYMENT</a>
          <a class="dropdown-item" href="{% url 'attendance-report' %}">REPORT</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          HUT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'hut-buy-list' %}">HUT-BUY</a>
          <a class="dropdown-item" href="{% url 'hut-buy-list' %}">REPORT</a>
        </div>
      </li>
    </ul>

    <div class="my-2 my-lg-0 ">
     <a  href="{% url 'main-settings'%}"><i class="fa fa-cog"></i></a>
       <a style="color: rgba(255,255,255,.6);"> <small>Logged in as  </small> {{ user.username }}</a>
      <a href="{% url 'logout'%}" ><button class="btn btn-outline-dark" style="color: rgba(255,255,255,.6);">LOGOUT</button></a>
    </div>
  </div>
    </div>
</nav>