{% extends "main/home_base.html" %}


{% block home %}
<div class="container-fluid">
<div class="row">
<div class="col-2">
<div class="side-menu">
    <div class="container text-center align-middle bg-steel text-white" style="height: 35px;">
        <h6 class="p-2">SHORT MENU</h6>
    </div>

    <div class="container">
        <div class="mt-2">
            <a class="btn btn-info  btn-sm btn-block" href="{% url 'account-ledger'%}">ACCOUNT LEDGER</a>
            <a class="btn btn-info  btn-sm btn-block" href="{% url 'investment-list'%}">INVESTMENT</a>
            <a class="btn btn-info  btn-sm btn-block" href="{% url 'transaction-list'%}">BKASH TRANSACTION</a>
            <a class="btn btn-info  btn-sm btn-block" href="{% url 'agent-payment-list'%}">AGENT PAYMENT</a>
            <a class="btn btn-info  btn-sm btn-block" href="{% url 'general-voucher-list'%}">GENERAL VOUCHER</a>
            <a class="btn btn-info  btn-sm btn-block" href="{% url 'collection-list'%}">COLLECTION</a>
            <a class="btn btn-info  btn-sm btn-block" href="{% url 'payment-list'%}">PAYMENT</a>


        </div>
    </div>
</div>
</div>
<div class="col-10 pl-0">
<div class="main-content">
    <div class="text-center text-white">
        <h1>WELCOME</h1>
        <h1>M/S FATEMA ENTERPRISE</h1>
    </div>

<div class="col-9">
    <div class="row m-2">

            <div class="card mr-2" style="width: 10rem;">
              <div class="card-body">
                <div class="persons"></div>
                <div class="card-title">Total Persons</div>
                <p class="card-text">{{ persons }}</p>
              </div>
            </div>



            <div class="card mr-2" style="width: 10rem;">
              <div class="card-body">
                  <div class="buy"></div>
                <div class="card-title">Total Buy</div>
                <p class="card-text">{{ persons }}</p>
              </div>
            </div>



            <div class="card mr-2" style="width: 10rem;">
              <div class="card-body">
                  <div class="sale"></div>
                <div class="card-title">Total Sale</div>
                <p class="card-text">{{ persons }}</p>
              </div>
            </div>


            <div class="card mr-2" style="width: 10rem;">
              <div class="card-body">
                  <div class="sale"></div>
                <div class="card-title">Total Sale</div>
                <p class="card-text">{{ persons }}</p>
              </div>
            </div>

    </div>
</div>
</div>
</div>
</div>
</div>


{% endblock home %}
