{% extends 'main/base.html' %}
{% load techAlong_extras %}
{% load static %}
{% load humanize %}
{% load indian_numbers_tags %}
{% block content %}
	<div style="float: left;" >
		<a class="btn btn-info btn-sm" href="{% url 'add-buy-voucher'%}">New Buy</a>
		<a href="{% url 'buy-list' %}" class="btn btn-sm btn-info"> &#x21BB;</a>
		<span id="showSearch" class="btn btn-sm btn-info"><i class="fas fa-search"></i> </span>
		<span id="showSearch1" class="btn btn-sm btn-info"><</span>
	</div>
	<div style="width: 100%; height: 35px" id="search-form-container">
	<form method="GET" id="searchForm">
		<div class="form-row">
                <div class="form-group col-md-3">
					<select id="name" class="form-control" name="name">
						<option selected>{{ name_selected }}</option>
						  {% for name in names %}
						<option>{{ name }}</option>
						  {% endfor %}
					  </select>
            	</div>
                <div class="form-group col-md-2">
                    <select id="phone_no" class="form-control" name="phone_no">
                    <option selected>{{ phone_no_selected }}</option>
					  {% for name in names %}
                    <option>{{ name.contact_number }}</option>
					  {% endfor %}
                  </select>
            	</div>
                <div class="form-group col-md-2">
                  <select id="voucher_no" class="form-control" name="voucher_no">
                    <option selected>{{ voucher_selected }}</option>
					  {% for voucher in voucher_selection %}
                    <option>{{ voucher.voucher_number }}</option>
					  {% endfor %}
                  </select>
                </div>
				<div class="col-md-2">
					<button type="submit" class="btn btn-sm btn-info"><i class="fas fa-search"></i></button>
				</div>
			</div>
        </form>
	</div>

	<div class="card card-body">
	<div class="text-center form-title">{{tittle}}</div>
		<div class="table-container">
			<table id="myTable" class="table table-sm table-striped table-bordered">
				<tr>
					<th>Voucher No</th>
					<th>Seller Name</th>
					<th>Product</th>
					<th>Weight</th>
					<th>Rate (BDT)</th>
					<th>Amount</th>
					<th>Bazar</th>
					<th>Date</th>
					<th>&#128195;</th>
					<th><i class="fa fa-edit"></i></th>
					{% if user.is_staff %}
					<th><i class="fa fa-trash"></i></th>
					{% endif %}

				</tr>

				{% for voucher in vouchers %}
					<tr>
						<td>{{ voucher.voucher_number }}</td>
						<td>{{ voucher.seller_name }}</td>
						<td>{{ voucher.product_name }}</td>
						<td>{{ voucher.weight|floatcomma_indian }}</td>
						<td>{{ voucher.rate_per_kg|floatcomma_indian }}/kg,
							{{ voucher.rate_per_mann|floatcomma_indian }}/Mann
						</td>
						<td>{{ voucher.total_amount|floatcomma_indian }}</td>
						<td>{{ voucher.bazar_or_company_name }}</td>
						<td>{{ voucher.date_added }}</td>
						<td><a class="" href="{% url 'buy-detail' voucher.id%}">&#128195;</a></td>
						<td><a class="" href="{% url 'buy-update' voucher.id%}"><i class="fa fa-edit"></i></a></td>
						{% if user.is_staff %}
						<td><a class="" href="{% url 'buy-delete' voucher.id%}"><i class="fa fa-trash"></i></a></td>
						{% endif %}
					</tr>
				{% endfor %}


			</table>
		</div>
		<span>{% include 'main/pagination.html' %}</span>
	</div>



<!-- search options function-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'buy_voucher/script.js' %}"></script>

{% endblock content %}