{% extends "main/base.html" %}
{% load indian_numbers_tags %}
{% block content %}
<div class="container card" style="font-size: 14px;">
    <div class="row ">
        <button id="print" class="btn-xs btn-info" onclick="printPage()">Print</button>
        <a href="{% url 'buy-update' buy.id%}"><button id="edit" class="btn-xs btn-info">E</button></a>
    </div>

    <hr>
    <hr>

    <div class="row mb-1">
        <div class="col-3"><strong>Voucher Number</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ buy.voucher_number }}</div>
        <div class="col-2"><strong>Buy Date</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ buy.date_added }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Seller Name</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ buy.seller_name }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Company/Bazar Name</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ buy.bazar_or_company_name }}</div>
    </div>
    <div class="row">
        <div class="col-12 border border-info text-center">
            <div><strong>Product Details</strong></div>
        <table class="table table-sm table-striped table-bordered">
            <tr>
                <th>SL</th>
                <th>Name</th>
                <th>Weight (KG)</th>
                <th>Bags</th>
                <th>Rate (৳)</th>
                <th>Total Amount (৳)</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{product.product|floatcomma_indian}}</td>
                <td>{{product.total_weight|floatcomma_indian}}</td>
                <td>{{product.number_of_bag|floatcomma_indian}}</td>
                <td>{{product.rate|floatcomma_indian}}</td>
                <td>{{product.total_amount|floatcomma_indian}}</td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2" class="text-right">Total</th>
                <th>{{product_weight}}</th>
                <th>{{product_bags}}</th>
                <th></th>
                <th>{{product_total_amount}}</th>
            </tr>
        </table>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-3"><strong>Self Weight of Each Bag</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ buy.weight_of_each_bag }} Kg.</div>
        <div class="col-3"><strong>Total Self Weight of Bags</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ total_self_weight_of_bag }} Kg.</div>
    </div>

    <div class="row mb-1">
        <div class="col-3"><strong>Unloading Cost/bag</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ buy.per_bag_unloading_cost }} BDT.</div>
        <div class="col-3"><strong>Total Unloading cost</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ total_unloading_cost|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Measuring Cost/Kg</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ buy.measuring_cost_per_kg }} BDT.</div>
        <div class="col-3"><strong>Total Measuring cost</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ total_measuring_cost|floatcomma_indian }} BDT.</div>
    </div>

<hr>
<hr>

    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Total Weight After Deduction</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ weight_after_deduction }} Kg.</div>
    </div>
    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Total Amount After Deduction</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ amount_after_deduction|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Previous Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ buy.previous_amount|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Transport Cost</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ transport_cost|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Discount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ buy.discount|floatcomma_indian }} BDT.</div>
    </div>
     <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Grand Total Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ grand_total_amount|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-2"><strong>In Words  </strong></div>
        <div class="col-10"><strong>:</strong> {{net_amount_in_words}} Taka only</div>
    </div>
    <div class="row mb-1">
        <div class="col-2"><strong>Remarks</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-10">{{ buy.remarks }}</div>
    </div>

</div>
<script>
    function printPage() {
        var printButton = document.getElementById("print");
        var editButton = document.getElementById("edit");
        printButton.style.visibility = 'hidden';
        editButton.style.visibility = 'hidden';
        window.print()
        printButton.style.visibility = 'visible';
        editButton.style.visibility = 'visible';
    }
</script>
{% endblock content %}