{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="">
    <div class="text-center form-title">{{form_name}}</div>
        <div id="person_image"></div>

          <form method="post"
              id="buyForm"
              data-image-url="{% url 'load-person-image' %}" novalidate>
            {% csrf_token %}
            <div class="form-row">
                  <div class="form-group col-md-4 mb-0" >
                   {{ form.business_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0 d-flex" >
                    {{ form.seller_name|as_crispy_field }}
                    <span style="padding-top: 19px;">
                        <a class="btn btn-sm btn-info" href="{% url 'add-person-buy' %}">+</a>
                    </span>
                </div>

                <div class="form-group col-md-4 mb-0 pl-1" >
                   {{ form.product_name|as_crispy_field }}
                </div>

                <div class="col-12 border border-info text-center">
                    <input type="button" value="Add Product" id="add_more" class="m-2">
                    {{ form2set.management_form }}
                    <div id="form_set">
                        {% for form in form2set.forms %}
                            <div class='no_error'>
                                {{ form.as_table }}
                            </div>
                        {% endfor %}
                    </div>
                    <div id="empty_form" style="display:none">
                        <div class='no_error'>
                            {{ form2set.empty_form.as_table }}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>



                <div class="form-group col-md-4 mb-0" >
                   {{ form.weight|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.number_of_bag|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0" >
                   {{ form.number_of_vehicle|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0" >
                   {{ form.rate_per_kg|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0" >
                   {{ form.rate_per_mann|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0" >
                   {{ form.vehicle_plate_number|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.per_bag_unloading_cost|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.measuring_cost_per_kg|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.weight_of_each_bag|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.bazar_or_company_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.date_added|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.transport_cost|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.transport_cost_payee|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.previous_amount|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.discount|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.remarks|as_crispy_field }}
                </div>

            </div>
                <button class="btn btn-outline-info" type="submit">{{button_name}}</button>
        </form>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function ()
{
   var $select1 = $('#id_seller_name');
       $select1.on('change',function()
       {
            var url2 = $("#buyForm").attr("data-image-url");
            var nameId = $(this).val();
             $.ajax({
                        url: url2,
                        data: {
                          'name': nameId
                        },
                        success: function (data) {
                          $("#person_image").html(data);
                        }
                  });
       }).trigger('change');
});
</script>
<script>
    $(document).ready(function ()
{
    $("#id_seller_name").select2({});
    $("#id_product_name").select2({});
    $("#id_bazar_or_company_name").select2({});
});
</script>
{% endblock content %}
