{% extends "main/base.html" %}
{% load indian_numbers_tags %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/main/css/print.css">
{% endblock %}
{% block content %}
<div id="print" class="float shadow">
    <i class="fa fa-print my-float"></i>
</div>

<div class="table-container" >
<div id="section-to-print" class="container card" style="font-size: 14px;">
    <div class="row ">
        <a href="{% url 'buy-update' buy.id%}"><button id="edit" class="btn-xs btn-info">E</button></a>
    </div>
    <div class="text-center">
        <div class="business-name">{{buy.business_name}}</div>
        <div>{{tittle}}</div>
    </div>
    <hr>
    <hr>

    <div class="row mb-1">
        <div class="col-3"><strong>Voucher Number</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ buy.voucher_number }}</div>
        <div class="col-2"><strong>Voucher Date</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ buy.date_added }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Seller Name</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ buy.seller_name }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Company/Bazar Name</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ buy.bazar_or_company_name }}</div>
    </div>
    <div class="row">
        <div class="col-12 border border-info text-center">
            <div><strong>Product Details</strong></div>
        <table class="table table-sm table-striped table-bordered">
            <tr>
                <th>SL</th>
                <th>Name</th>
                <th>Weight (KG)</th>
                <th>Bags</th>
                <th>Weight/Bags(Kg)</th>
                <th>Net Weight(Kg)</th>
                <th>Rate (৳)</th>
                <th>Total Amount (৳)</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{product.product|floatcomma_indian}}</td>
                <td>{{product.details.weight|floatcomma_indian}}</td>
                <td>{{product.number_of_bag|floatcomma_indian}}</td>
                <td>{{product.weight_of_bags}}</td>
                <th>{{product.details.net_weight|floatcomma_indian}}</th>
                <td>{{product.details.rate|floatcomma_indian}}{{product.details.rate_condition}}</td>
                <td>{{product.details.amount|floatcomma_indian}}</td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2" class="text-right">Total</th>
                <th>{{product_weight}}</th>
                <th>{{product_bags}}</th>
                <th>{{product_weight_of_bags}}</th>
                <th>{{product_net_weight}}</th>
                <th></th>
                <th>{{product_total_amount}}</th>
            </tr>
        </table>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-3"><strong>Unloading Cost/bag</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ buy.per_bag_unloading_cost }} BDT.</div>
        <div class="col-3"><strong>Total Unloading cost</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ total_unloading_cost|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Measuring Cost/Kg</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ buy.measuring_cost_per_kg }} BDT.</div>
        <div class="col-3"><strong>Total Measuring cost</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ total_measuring_cost|floatcomma_indian }} BDT.</div>
    </div>

<hr>
<hr>

    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Net Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ amount_after_deduction|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Previous Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ buy.previous_amount|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Transport Cost</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ transport_cost|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Discount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ buy.discount|floatcomma_indian }} BDT.</div>
    </div>
     <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Grand Total Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ grand_total_amount|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-2"><strong>In Words  </strong></div>
        <div class="col-10"><strong>:</strong> {{net_amount_in_words}} Taka only</div>
    </div>
    <div class="row mb-1">
        <div class="col-2"><strong>Remarks</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-10">{{ buy.remarks }}</div>
    </div>

</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$('#print').click(function(){
    var editButton = document.getElementById("edit");
    editButton.style.visibility = 'hidden';
	$('body').css('margin-top', '0');
	$('#search').css('display', 'none');
     window.print();
    editButton.style.visibility = 'visible';
    $('body').css('margin-top', '3rem');
	$('#search').css('display', 'block');
});
</script>


<script src="/static/main/js/responsive.content.height.js"></script>

{% endblock content %}