{% extends 'main/base.html' %}
{% load static %}
{% block content %}
	<form method="GET" id="search">
		<div class="form-row">
			<div class="col-md-2">
				<a class="btn btn-secondary  btn-sm btn-block bg-steel" href="{% url 'add-general-voucher'%}">Add General Voucher</a>
			</div>
				<!--search form-->
                <div class="form-group col-md-3">
					<select id="business_name" class="form-control" name="business_name" onchange="this.form.submit()">
						<option selected>{{ business_selected }}</option>
						  {% for business in business_names %}
						<option>{{ business.name }}</option>
						  {% endfor %}
					  </select>
            	</div>
                <div class="form-group col-md-2">
                  <select id="voucher_no" class="form-control" name="voucher_no" onchange="this.form.submit()">
                    <option selected>{{ voucher_selected }}</option>
					  {% for voucher in voucher_selection %}
                    <option>{{ voucher.voucher_number }}</option>
					  {% endfor %}
                  </select>
                </div>
			     <div class="form-group col-md-2">
                  <select id="name" class="form-control" name="name" onchange="this.form.submit()">
                    <option selected>{{ name_selected }}</option>
					  {% for name in name_selection %}
                    <option>{{ name.person_name }}</option>
					  {% endfor %}
                  </select>
                </div>
				<div class="col-md-2">
					<button type="submit" class="btn btn-sm btn-info">Search</button>
					<a href="{% url 'general-voucher-list' %}" class="btn btn-sm btn-info"> &#x21BB;</a>
				</div>
			</div>
        </form>
	<div class=" card card-body">
		<div class="text-center form-title">{{tittle}}</div>
			<div class="table-container infinite-trigger">
				<table class="table table-sm table-striped table-bordered">
				<tr>
					<th>Serial</th>
					<th>Business</th>
					<th>Cost For</th>
					<th>Cost Descriptions</th>
					<th>Amount</th>
					<th>Date</th>
					<th>Control</th>
				</tr>
				<tbody class="infinite-container">
				{% for voucher in vouchers %}
					<tr class="infinite-item">
						<td>{{ voucher.voucher_number }}</td>
						<td>{{ voucher.business_name }}</td>
						<td>{{ voucher.person_name }}</td>
						<td>{{ voucher.cost_Descriptions }}</td>
						<td>{{ voucher.cost_amount }}</td>
						<td>{{ voucher.date_added }}</td>

						{% if voucher.transaction  %}
								<td>
									<a class="disabled" onclick="alertEdit()" href="#"><i class="fas fa-pencil-alt"></i></a>
									|
									<a class="disabled" onclick="alertDelete()" href="#"><i class="fas fa-trash-alt"></i></a>
								</td>
						{% else %}
								<td>
									<a class="" title="Edit" href="{% url 'general-voucher-update' voucher.id%}"><i class="fas fa-pencil-alt"></i></a>
									|
									<a class="" title="Delete" href="{% url 'general-voucher-delete' voucher.id%}"><i class="fas fa-trash-alt"></i></a>
								</td>
						{%endif%}
					</tr>
				{% endfor %}
				</tbody>

			</table>
			</div>
		</div>
		<div class="mt-3 float-right">
		        {% if is_paginated %}
					{% if page_obj.has_next %}
						<a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
					{% endif %}

        		{% endif %}
		</div>


<script>
function alertEdit() {
  alert("General Voucher With Bkash Transaction Can't be edited");
}
function alertDelete() {
  alert("General Voucher With Bkash Transaction Can't be deleted");
}
</script>

<!--this is also needed for infinite scrolling-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--this is also needed for infinite scrolling-->

<!--for infinite scrolling-->
<script type="text/javascript" src="{% static 'main/js/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/infinite.min.js' %}"></script>
<!--this file also includes responsive container height-calculator -->
<script type="text/javascript" src="{% static 'main/js/infinite.scrolling.js' %}"></script>
<!--for infinite scrolling-->

<!--for search function in selection fields-->
<script>
$(document).ready(function(){
	$("#name").select2({});
    $("#voucher_no").select2({});
    $("#business_name").select2({});
});
</script>
{% endblock content %}