{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="">
    <div class="text-center form-title">{{form_name}}</div>

        <form method="post" >
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-3 mb-0" >
                   {{ form.challan_no|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0" >
                   {{ form.rate|as_crispy_field }}
                </div>
                <div class="col-md-6 mb-0 border border-primary">
                    <div class="row">
                        <div class="form-group col-md-4 mb-0 pr-0" >
                           {{ form.spot_percentage|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0 pr-0" >
                           {{ form.spot_weight|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0" >
                           {{ form.spot_rate|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-0 border border-primary">
                    <div class="row">
                        <div class="form-group col-md-4 mb-0 pr-0" >
                           {{ form.seed_percentage|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0 pr-0" >
                           {{ form.seed_weight|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0" >
                           {{ form.seed_rate|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-0 border border-primary">
                    <div class="row">
                        <div class="form-group col-md-6 mb-0 pr-0" >
                           {{ form.moisture_percentage|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0" >
                           {{ form.moisture_weight|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mb-0 border border-primary" >
                <div class="row">
                <div class="form-group col-md-4 mb-0" >
                   {{ form.per_bag_unloading_cost|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.measuring_cost_per_kg|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0" >
                   {{ form.weight_of_each_bag|as_crispy_field }}
                </div>
                </div>
                </div>
                <div class="col-md-4 mb-0 border border-primary" >
                <div class="row">
                <div class="form-group col-md-6 mb-0" >
                   {{ form.weight_percentage_TDS|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0" >
                   {{ form.amount_percentage_TDS|as_crispy_field }}
                </div>
                </div>
                </div>
                 <div class="form-group col-md-2 mb-0" >
                   {{ form.weight_adjusted|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0" >
                   {{ form.date_added|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0 border border-info" >
                    <div>Sale Status</div>
                   {{ form.status|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0" >
                   {{ form.remarks|as_crispy_field }}
                </div>
                <div class="col-12 border border-info">
                    {% if button_name == 'Save' %}
                    <input type="button" value="Add Expense" id="add_more1" class="m-2">
                    {%endif%}
                    {{ sale_formset.management_form }}
                    <div id="form_set1">
                        {% for form2 in sale_formset.forms %}
                            <div class='no_error'>
                                {% if button_name == 'Update' %}
                                    <div style="display:none">{{form2.as_table}}</div>
                                {%endif%}
                               <div class="form-row">
                                    <div class="form-group col-md-5">
                                        {{ form2.expanse_name|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form2.amount|as_crispy_field }}
                                    </div>
                                    {% if button_name == 'Update' %}
                                     <div class="form-group col-md-1">
                                        {{ form2.DELETE|as_crispy_field }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="empty_form1" style="display:none">
                        <div class='no_error'>
                           <div class="form-row">
                                    <div class="form-group col-md-3">
                                        {{ sale_formset.empty_form.expanse_name|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-2">
                                        {{ sale_formset.empty_form.amount|as_crispy_field }}
                                    </div>
                                {% if button_name == 'Update' %}
                                <div class="form-group col-md-1">
                                        {{ sale_formset.empty_form.DELETE|as_crispy_field }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>
            </div>
                <button class="btn btn-outline-info" type="submit">{{button_name}}</button>
        </form>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function ()
{
    $("#id_sale-challan_no").select2({});
    $("#id_challan_no").select2({});
});
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_product-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_product-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        var id = "#id_product-" + form_idx + "-name"
        console.log(id);
        // $(id).select2({});
    });

    $('#add_more1').click(function() {
        var form_idx = $('#id_expense-TOTAL_FORMS').val();
        $('#form_set1').append($('#empty_form1').html().replace(/__prefix__/g, form_idx));
        $('#id_expense-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        var id = "#id_expense-" + form_idx + "-name"
        console.log(id);
    });
</script>
{% endblock content %}
