{% extends "main/base.html" %}
{% load indian_numbers_tags %}
{% block content %}
<div class="container card" style="font-size: 14px;">
    <div class="row ">
        <button id="print" class="btn-xs btn-info" onclick="printPage()">Print</button>
        <a href="{% url 'sale-update' sale.id%}"><button class="btn-xs btn-info">E</button></a>
    </div>
    <div class="text-center"><strong>Sale Voucher Details</strong></div>
    <hr>
    <div class="row mb-1">
        <div class="col-3"><strong>Voucher Number</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ sale.voucher_number }}</div>
        <div class="col-2"><strong>Sale Date</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.date_added }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Challan No</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.challan_no }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Buyer Name</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.challan_no.company_name }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Product Name</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.challan_no.product_name }}</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Weight</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.challan_no.total_weight|floatcomma_indian }} Kg.</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Number Bags</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.challan_no.number_of_bag|floatcomma_indian }} Nos.</div>
    </div>
        <div class="row mb-1">
        <div class="col-3"><strong>Rate (Per Kg.)</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.rate|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Total Challan Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ total_challan_amount|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Weight of Fotka</strong> ({{ sale.spot_percentage }}% + {{sale.spot_weight}})</div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ spot_weight|floatcomma_indian }} Kg.</div>
        <div class="col-2"><strong>F.Rate : </strong> {{ sale.spot_rate|floatcomma_indian }} Tk.</div>
        <div class="col-1"><strong>F.Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ fotka_amount|floatcomma_indian }} Tk.</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Weight of Seed</strong> ({{ sale.seed_percentage }}% + {{sale.seed_weight}})</div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ seed_weight|floatcomma_indian }} Kg.</div>
        <div class="col-2"><strong>S.Rate : </strong> {{ sale.seed_rate|floatcomma_indian }} Tk.</div>
        <div class="col-1"><strong>S.Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ seed_amount|floatcomma_indian }} Tk.</div>
    </div>
    <div class="row mb-1">
        <div class="col-3"><strong>Moisture Weight </strong>({{ sale.moisture_percentage }}% + {{sale.moisture_weight}})</div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ moisture_weight|floatcomma_indian }} Kg.</div>


        <div class="col-3"><strong>Self Weight of Bags</strong>({{ sale.weight_of_each_bag }} x {{sale.challan_no.number_of_bag}})</div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ total_self_weight_of_bag|floatcomma_indian }} Kg.</div>
    </div>

<hr>

    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Weight After Deduction</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ weight_after_deduction|floatcomma_indian }} Kg.</div>
    </div>
    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Weight with seed & spot</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ weight_with_spot_and_seed|floatcomma_indian }} Kg.</div>
    </div>
    <hr>
    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Amount After Deduction</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ amount_after_deduction|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Fotka Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">(+){{ fotka_amount|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Seed Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">(+){{ seed_amount|floatcomma_indian }} BDT.</div>
    </div>
    <hr>
    <div class="row mb-1">
        <div class="col-6"></div>
        <div class="col-3"><strong>Net Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ net_amount|floatcomma_indian }} BDT.</div>
    </div>
    <div class="row mb-1">
        <div class="col-2"><strong>In Words : </strong></div>
        <div class="col-10">{{net_amount_in_words|floatcomma_indian}} Taka only</div>
    </div>

    <div class="row mb-1">
        <div class="col-3"><strong>Remarks</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.remarks }}</div>
    </div>
    <hr>
    <!-- Profit Analysis  -->
    <div>
        <div class="text-center"><strong>Profit Analysis</strong></div>
        <hr>
        <div>
            <div>

            </div>
            <div class="text-center">Other Expanses</div>
            <table class="table table-sm table-striped table-bordered">
                <tr>
                    <th>Expanse Name</th>
                    <th>Amount</th>
                </tr>
                {% for expanse in sale_expanses %}
                <tr>
                    <td>{{ expanse.expanse_name }}</td>
                    <td>{{ expanse.amount }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><strong></strong>Total</strong></td>
                    <td><strong>{{ total_expanse }}</strong></td>
                </tr>
            </table>
        </div>

    </div>
    <!-- Profit Analysis  -->
</div>
<script>
    function printPage() {
        var printButton = document.getElementById("print");
        printButton.style.visibility = 'hidden';
        window.print()
        printButton.style.visibility = 'visible';
    }
</script>
{% endblock content %}