{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <div class="row ">
        <button id="print" class="btn-xs btn-info" onclick="printPage()">Print</button>
        <a href="{% url 'sale-update' sale.id%}"><button class="btn-xs btn-info">E</button></a>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-3"><strong>Voucher Number</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ sale.voucher_number }}</div>
        <div class="col-2"><strong>Sale Date</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.date_added }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Challan No</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.challan_no }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Buyer Name</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ challan.buyer_name }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Company Name</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ challan.company_name }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Product Name</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ challan.product_name }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-3"><strong>Weight</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ challan.weight }} Kg.</div>
    </div>
    <div class="row mb-2">
        <div class="col-3"><strong>Number Bags</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ challan.number_of_bag }} Nos.</div>
    </div>
        <div class="row mb-2">
        <div class="col-3"><strong>Rate (Per Kg.)</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.rate }} BDT.</div>
    </div>
    <div class="row mb-2">
        <div class="col-3"><strong>Total Challan Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ total_challan_amount }} BDT.</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Weight of Fotka</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ sale.fotka_weight }} Kg.</div>
        <div class="col-2"><strong>F.Rate : </strong> {{ sale.fotka_rate }} Tk.</div>
        <div class="col-1"><strong>F.Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ fotka_amount }} Tk.</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Seed Weight </strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ sale.seed_weight }} Kg.</div>
        <div class="col-3"><strong>Moisture Weight</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ sale.moisture_weight }} Kg.</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Self Weight of Each Bag</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ sale.weight_of_each_bag }} Kg.</div>
        <div class="col-3"><strong>Total Self Weight of Bags</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ total_self_weight_of_bag }} Kg.</div>
    </div>

<hr>

    <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Total Weight After Deduction</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ weight_after_deduction }} Kg.</div>
    </div>
    <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Total Amount After Deduction</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ amount_after_deduction }} BDT.</div>
    </div>
    <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Fotka Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">(+){{ fotka_amount }} BDT.</div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-6"></div>
        <div class="col-3"><strong>Net Amount</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-2">{{ net_amount }} BDT.</div>
    </div>
    <div class="row mb-3">
        <div class="col-2"><strong>In Words : </strong></div>
        <div class="col-10">{{ sale.remarks }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-3"><strong>Remarks</strong></div>
        <div class="col-1"><strong>:</strong></div>
        <div class="col-3">{{ sale.remarks }}</div>
    </div>

</div>
<script>
    function printPage() {
        var printButton = document.getElementById("print");
        printButton.style.visibility = 'hidden';
        window.print()
        printButton.style.visibility = 'visible';
    }
</script>
{% endblock content %}