{% extends 'main/base_challan.html' %}
{% load indian_numbers_tags %}
{% block content %}
<style>
    @page
{
    margin-top: 0mm;
    margin-bottom: 0mm;
    margin-left: 0mm;
    margin-right: 0mm;
}

</style>
{% if mode == 'pad' %}
        <div class="pad">
{% else %}
        <div class="">
{% endif %}
<div style="height: 54mm;"></div>
<div class="border">
<div class="content">

<table width="100%" class="no-border">
        <tr>
            <td class="left" style="font-size: 13pt;">{{object.challan_no}}/{{object.challan_serial}}</td>
            <td class="" style="text-align: right;">{{object.challan_date|date:"d-m-Y"}}</td>
        </tr>
    </table>
<div style="height: 50px;"></div>
<div style="text-align: center;">
    <div style="font-size: 18pt; text-decoration: underline;"><b>Bill No: {{challan_serial}}</b></div>
</div>

<table class="no-border left" style="font-size: 16pt; margin-bottom: 25px;">
    <tr><td style="padding:0;">To,</td></tr>
    <tr><td style="padding:0;">The</td></tr>
    <tr><td style="padding:0;"><strong>{{object.company_name.designation}}</strong></td></tr>
    <tr><td style="padding:0;"><strong>{{object.company_name.contact_person}}</strong></td></tr>
    <tr><td style="padding:0;">{{object.company_name.name_of_company}}</td></tr>
    <tr><td style="padding:0;">{{object.company_name.company_address}}</td></tr>
</table>
<div class="english" style="font-weight: 920;">
    Subject: Bill For The Supply <span></span>of {{ object.product_name }} ।
</div>

<table class="english" width="100%">

        <tr style="background-color: #dcc5c5;">
             <th>Product Descriptions</th>
             <th>Delivered Weight (Kg)</th>
             <th>Rate (BDT)/Kg</th>
             <th>Total Amount (BDT)</th>
        </tr>
        <tr style="height: 125px;">
            <td class="english">{{ object.product_name }}</td>
            <td class="english">{{ weight|floatcomma_indian }}</td>
            <td class="english">{{ rate }}</td>
            <td class="english">{{ total_amount|floatcomma_indian }}</td>
         </tr>
</table>
<div style="height:25px;"></div>
<div class="english"><b>In Words: </b>{{amount_in_word}} Taka Only</div>
    <div class="english">
        <p>
            If you need any further details, please contact us. We are eagerly waiting for here
            from you soon.
        </p>
    </div>

<div style="height: 25px;"></div>
<table width="100%" class="english no-border">
    <tr>
        <td style="padding:0;"></td>
        <td style="padding:0;" width="300">
            <div>Thanks and Regards</div>
            <div><b>{{object.business_name.proprietor}}</b></div>
            <div>Proprietor</div>
            <div><b>{{object.business_name}}</b></div>
            {% if mode == 'pad' %}
            <div class="signature" style="height: 118px;"></div>
            {% else %}
            <div style="height: 118px;"></div>
            {% endif %}
        </td>

    </tr>
</table>
</div>
</div>
</div>
{% endblock content %}
