{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
{% include 'main/settings_sidebar.html' %}
    <div class=" card card-body">
    <div class="container">
        <h5 class="text-center">Add Product</h5>
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                {{ form|crispy }}
                <button class="btn btn-outline-info" type="submit">Add</button>
            </div>
        </form>
    </div></div></div>
{% endblock content %}
