{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <form method="POST" >
			{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-md-4">
                <select id="name" class="form-control" name="name">
                    <option selected>{{ name_selected }}</option>
					  {% for name in agent_names %}
                    <option>{{ name }}</option>
					  {% endfor %}
                  </select>
            </div>
                <div class="form-group col-md-2">
                <div class="input-group">
                <input id="date_from" class="form-control py-2 border-right-0 border" name="date_from" type="search" placeholder="From: dd-mm-yyyy">
                </div>
            	</div>
				<div class="form-group col-md-2">
                <div class="input-group">
                <input id="date_to" class="form-control py-2 border-right-0 border" name="date_to" type="search" placeholder="To: dd-mm-yyyy">
                </div>
            	</div>
				<div class="form-group col-md-2">
 					<button type="submit" class="btn btn-sm btn-info">Search</button>
					<a href="" class="btn btn-sm btn-info"> &#x21BB;</a>
                </div>




	<div class="row mb-2">
		<div class="col-md-12">
			<div class="d-flex justify-content-end">
				<input id="date" value="{{date1}}" name="date" type="hidden">
			<button type="submit" class ="btn-info btn-sm" name="Previous Day" >Previous Day</button>
			<button type="submit" class ="btn-info btn-sm" name="Today" >Today</button>
			<button type="submit" class ="btn-info btn-sm" name="Next Day" >Next Day</button>
			<button type="submit" class ="btn-info btn-sm" name="ALL" >ALL</button>
			</div>
		</div>
	</div>


            </div>
        </form>

    </div>

	<div class=" card card-body">
			<div class="d-flex justify-content-center"><h6>Bkash Ledger</h6></div>
			<div class="d-flex justify-content-center"><h6>{{ agent_name }}</h6></div>
			<div class="d-flex justify-content-center">Date: {{date_criteria}}</div>
			<div class="btn btn-secondary btn-sm btn-block bg-steel">
				Main Balance : {{ main_balance }}
			</div>
			<table class="table table-sm table-striped table-bordered">
				<tr>
					<th>Date</th>
					<th>Agent Name</th>
					<th>Payed To</th>
					<th>Descriptions</th>
					<th>Transaction Amount</th>
					<th>Payed Amount</th>
					<th>Balance</th>
				</tr>

				{% for item in ledgers %}
					<tr>
						<td>{{ item.date }}</td>
						<td>{{ item.agent_name }}</td>
						<td>{{ item.transacted_to }}</td>
						<td>
							<a target="_blank" href="{{ item.url1 }}">{{ item.voucher_no }}</a>
							 {{ item.type }} <a target="_blank" href="{{ item.url2 }}">{{ item.descriptions }}</a>
						</td>
						<td>{{ item.debit_amount }}</td>
						<td>{{ item.credit_amount }}</td>
						<td>{{ item.balance }}</td>
					</tr>
				{% endfor %}


			</table>
		</div>

{% endblock content %}